@import "tailwindcss";

body {
  background-image: url('/image/1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgb(31 41 55);
  padding-top: 120px;
}

header a {
  color: white;
}

header a:hover {
  color: rgb(30 64 175);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

/* Masquer la scrollbar dans les pop-ups tout en gardant le scroll fonctionnel */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari et Opera */
} 